*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 10px;
}
a{
    text-decoration: none;
}

section blockquote{
    background: darkgrey;
    color: floralwhite;
}

#wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: auto 80%;
    grid-template-areas: 
    "sidebar main"
    "sidebar main1"
    "sidebar main2"
    "sidebar main3"
    "sidebar footer";
}

.sidebar{
    grid-area: sidebar;
    background-color: #2c1b28;
    position: fixed;
 
}
nav{
    text-align: center;
}
.brand{
    background-color: #fff;
    padding:2.5rem 0;
}
.brand > .nav-link{
    font-size: 2.5rem 0;
    color: #2c1b28;
}
.nav-list{
    list-style: none;
}
.nav-item{
    margin: 5rem 0;
}
.nav-link{
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem;
}
.main-content{
    grid-area: main;
    background-color: lavender;
    font-size: 15px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-content1{
    grid-area: main1;
    background-color: lavender;
    font-size: 15px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content2{
    grid-area: main2;
    background-color: lavender;
    font-size: 15px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content3{
    grid-area: main3;
    background-color: lavender;
    font-size: 15px;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
